/* Ligth theme CSS */
.counterLight {
  font-size: 16px;
  color: hsl(233, 11%, 84%);

  background-color: white;

  padding: 10px 0;
}

.counterContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin: 5px 15px;
}

/* Dark theme CSS */

.counterDark {
  font-size: 16px;
  color: hsl(233, 14%, 35%);

  background-color: hsl(235, 24%, 19%);

  padding: 10px 0;
}