.inputFrame {
  font-size: 18px;
  color: hsl(233, 14%, 35%);

  background-color: hsl(235, 24%, 19%);

  width: 90%;

  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.inputFrame p {
  padding-right: 30px;
}

.inputFrame .checkButton {
  margin: 0 15px;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px hsl(237, 14%, 26%);
}
.inputFrame form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputFrame input {
  all: unset;
  background-color: hsl(235, 24%, 19%);
}
