/* Light theme CSS */

.inputFrameLight {
  font-size: 18px;
  color: hsl(236, 9%, 61%);

  background-color: white;

  width: 90%;

  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}


.inputFrameLight p {
  padding-right: 30px;

}

.inputFrameLight .checkButton {
  margin: 0 15px;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px hsl(236, 33%, 92%);
}

.inputFrameLight form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.inputFrameLight input {
  all: unset;
  background-color: white;

}

.inputFrameLight ::placeholder {
  color: hsl(236, 9%, 61%);


}

.inputFrameLight input {

  width: 85%;
}

/* Dark theme CSS */


.inputFrameDark {
  font-size: 18px;
  color: hsl(233, 14%, 35%);

  background-color: hsl(235, 24%, 19%);

  width: 90%;

  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.inputFrameDark p {
  padding-right: 30px;
}

.inputFrameDark .checkButton {
  margin: 0 15px;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px hsl(237, 14%, 26%);
}

.inputFrameDark form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputFrameDark input {
  all: unset;
  background-color: hsl(235, 24%, 19%);
}

.inputFrameDark input {

  width: 85%;
}