*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hsl(235, 21%, 11%);

  position: relative;

  height: 100vh;
  /* width: 100vh; */

  z-index: 0;
}

header {
  width: 100%;

  color: white;
  letter-spacing: 10px;
}

.mainFrame {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backgroundImg {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

/* @media (min-width: 410px) {
  .App {
    height: 100vh;
  }
} */
