*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.AppDark {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hsl(235, 21%, 11%);

  position: relative;

  min-height: 100vh;

  z-index: 0;
}

.AppLight {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 98%);

  position: relative;

  min-height: 100vh;

  z-index: 0;


}

.mainFrame {

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  letter-spacing: 10px;

  padding: 50px 0 25px 0;
}

.backgroundImg {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200px;
}





@media (min-width: 700px) {

  header {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    letter-spacing: 10px;

    padding: 50px 0px 25px 0px;


  }
}